extends layout

block content
	.fluid-container
			.row.dashboard
				.col-lg-3.col-md-3
					a.btn.custom_feature1(href='/') Student Management
				col-lg-3.col-md-3
					a.btn.custom_feature2(href='/') Sponsor Management
				col-lg-3.col-md-3
					a.btn.custom_feature3(href='/') Sponsorship Management
				col-lg-3e.col-md-3
					a.btn.custom_feature4(href='/') Add Donation	
