extends layout

block content
	.fluid-container
			.row
				.col-lg-3.col-md-4
					a.btn-default(href='/') Add Student
				col-lg-3.col-md-4
					a.btn-default(href='/') Add Sponsor
				col-lg-3.col-md-4
					a.btn-default(href='/') Add Sponsorship	
				col-lg-3.col-md-4
					a.btn-default(href='/') Add Donation	
