doctype html
html
	head
		title CBG Admin
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://use.fontawesome.com/a3a71a0323.js')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/cookies.js')
		script(src='/javascripts/application.js')

	body
		.fluid-container
			.row.navbar.headnav
				.col-lg-8.col-md-8
					img(src="/images/logo.png" style="width:250px")
				.col-lg-4.col-md-4.navbar-right
					ul.nav.navbar-nav.navbar-right
						if currentUser
							li: p.navbar-text Signed in as #{currentUser.name}
							li: a(href='/user/logout') Log Out
						else
							li: a(href='/user/signup') Sign Up
							li: a(href='/user/login') Log In
		.fluid-container
			.row
				block content
		.fluid-container
			.row
				.col-lg-4.col-md-4
					p CBG Foundation.ORG